################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApplication/obj
/ConsoleApplication/bin
/packages/Autofac.4.9.4
