################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/Autofac.4.9.4
*/obj
*/bin
